<div class="row text-center">
    <div class="col-12 mt-3">
        <h1>All Files</h1>
    </div>
    
</div>
<div class="row text-left">
    <div class="col-6 m-3">
        <h3>Current Directory: {{this.currentFolder}}</h3>
    </div> 

</div>
<div class="row text-left">
    <div class="col-5 m-3">
        <button class="certificates-button" style="width: 150px;" (click)="goBackFolder()">Go Back</button>

    </div> 
    <div class="col-5 m-3">
        <button class="certificates-button" style="width: 150px;" (click)="uploadToCurrentFolder()">Upload</button>

    </div> 
</div>

<div *ngIf="isLoaded===true">
    <div class="row m-5 text-center" *ngFor="let file of currentFiles">
        <div class="col-3 m-3" (click)="showFile(file)">
            <app-single-file-display [file]="file" class="hover-folder" ></app-single-file-display>
        </div>
    </div>
    <div class="row m-5 text-center" *ngFor="let folder of currentFolders">
        <div class="col-3 m-3 p-2 hover-bg" (click)="redisplayItemsAndFolder(folder.toString())">
            <app-single-folder-display [folderName]="folder.toString()" class="hover-folder"></app-single-folder-display>
        </div>
    </div>
</div>

