<div class="upload">

    <div class="row text-center">
        <div class="col-12">
            <h1>Share a File/Folder</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-8 col-12 text-center my-5" *ngIf="isLoaded && isLoadedFolder">
            <div class="row">
                <div class="col-lg-3 col-md-5 col-12 m-1" *ngFor="let file of files">
                    <app-single-file-display [file]="file" class="hover-folder" (click)="shareFile(file)"></app-single-file-display>
                </div>
            
                <div class="col-lg-4 col-md-4 col-12 m-1 p-2 hover-bg" *ngFor="let folder of folders">
                    <app-single-folder-display [folderName]="folder.foldername" class="hover-folder" (click)="shareFolder(folder)"></app-single-folder-display>
                </div>
            </div>
            
        </div>
        <div class="col-md-4 col-12 text-center my-5">
            <form upload
            [formGroup]="uploadForm"
            (ngSubmit)="share()">
            <div class="register-container">
              <div class="row">
                    <div class="col-12 center dark-blue-background p-5">
                        <div class="row text-center">
                            <div class="col center reesen-big-lead-text join-us mb-3">
                            Share,<br>
                            a file/folder!
                            </div>
                            <div class="col center">
                                <img src="../../../assets/upload.png" alt="Upload" class="logo-image">
                            </div>
                        </div>
                    </div>
        
                    <div class="col-12">
                          <h1 class="reg-lbl mt-2">Share File/Folder</h1>
                          <div class="row">
        
                            <div class="col">
                                <div class="mb-3 space">
                                    <label for="path" class="label-reg">Full Path</label>
                                    <input type="text" formControlName="path"  class="form-control" id="path" placeholder="pdf/...">
                                </div>
                                <div class="mb-3 space">
                                    <label for="receiver" class="label-reg">Receiver</label>
                                    <input type="text" formControlName="receiver" class="form-control" id="receiver" placeholder="mihajlo01">
                                </div>
                               
                            </div>
    
                              
                            </div>
        
                        <div class="mb-3 text-center">
                        <button type="submit" class="signup confirmation-button">Share</button>
                        </div>
        
                    </div>
                </div>
            </div>
        </form>
        </div>

    </div>
    

</div>